<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>ShareSafe</title>
  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="#">ShareSafe</a>
          <ul class="navbar-nav mr-auto"></ul>
          <span class="navbar-text mr-2">
           {{ user_info['given_name'] + " "+user_info['family_name'] }}
          </span>
          <a href="/google/logout" class="btn btn-primary" role="button" aria-pressed="true">Logout</a>
      </div>
    </nav>
    <div class="container" style="border: 2px solid black ; padding:20px;margin-top:10px; background-color: rgb(186, 210, 188);">
           
       
        <form method='POST' enctype='multipart/form-data' action="/googleDrive/view/{{file_id}}">

          <div class="input-group mb-3">
            <div>
                <label> Enter Password <br/>
                        <input autocomplete="false" name="password" id="password" type="password"  required placeholder="Enter password"/>
                </label>
            </div>
            <div class="input-group mb-3">
            <div>
                <label> Enter Tag you want to Retrieve <br/>
                        <input autocomplete="truse" name="tag" id="tag" type="text"  placeholder="Enter tag"/>
                </label>
            </div>
            </div>
            <div class="input-group">
              <input class="input-group-text mr-2" type="submit" name="retrieve" value="Retrieve File" />
            </div>
            <div class="input-group mb-3">
                <div>
                    <label> File Contents <br/>
            <textarea cols="100" rows="15" id="content" name="content" >{{ file_content|string }}</textarea>
                    </label>
                </div>
          </div>
        </form>
        

    </div>
    <form method='POST' enctype='multipart/form-data' action="/googleDrive/back/{{file_id}}">
      <div class="input-group">
          <input class="input-group-text mr-2" type="submit" name="back" value="Go Back" />
        </div>           
      </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
  </body>
</html>